.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding-top: 160px;
}
.login__logo > img{
    width: 200px;
}

.login > button{
    margin-top: 80px;
    width: 300px;
    font-weight: 800;
    padding: 5px 0px;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #2e81f4;;
}
.login > button:hover {
    transform: scale(1.07);
    transition: 100ms ease-in;
}